* {
  box-sizing: border-box;
}

textarea {
	max-width: 100%;
    resize: vertical;
}

.center {
    margin: auto;
    width: 100%;
    border-radius: 10px;
}

/* Создайте два одинаковых столбца, которые плавают рядом друг с другом */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Очистить поплавки после столбцов */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.container-textarea {
	padding: 2px;
}

.sub-container-textarea {
	padding: 2px;
}
